body {
	margin: 0;
}

p {
	font-family: 'Titillium Web', sans-serif;
}

p:first-letter {
	display: block;
	font-weight: 1000;
	font-size: 30px;
}

.logo h1 {
	text-align: center;
	font-size: 90px;
	font-family: 'Rajdhani', sans-serif;
	font-variant: small-caps;
	margin: 0;
	letter-spacing: 8pt;
}

.headerimg {
	text-align: center;
}

#socialnetwork {
	font-size: 30px;
	text-align: center;
}

#socialnetwork a {
	color: black;
	text-decoration: none;
}

#nav {
	position: sticky;
	z-index: 999;
	width: 100%;
	height: 20px;
	top: 0;
	padding: 0; margin: 0;
	color: #FFFFFF;
	background-color: #2d3436;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
}

#nav li {
	display: inline;
	list-style: none;
}

#nav ul {
	background-color:#f8c291;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

div {
	position: relative;
}

#nav a {
	display:inline-block;
	margin: 0 50px;
	color: #FFFFFF;
	text-decoration: none;
}

.container {
	padding-right: 100px;
	padding-left: 100px;
}

.container-intro {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}

.container-intro > h1 {
	color: #FFFFFF;
	font-variant: small-caps;
	font-family: 'Ubuntu', sans-serif;
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color: #f8c291;
	padding: 0;
	margin-bottom: 0;
}

.container-intro > p {
	padding: 5px;
	padding-top: 0;
	text-align: justify;
}

.photos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.photos img {
	width:33%;
	height: 33%;
}

.container-paragraphe {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bloc-paragraphe {
	display: flex;
	flex-direction: column;
	width: 24%;
}

.bloc-paragraphe > h1 {
	color: #FFFFFF;
	background-color: #f8c291;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
}

h1::after {
	content: url ("Images/18211.jpg");
	width: 10px;
}

.bloc-paragraphe > p {
	text-align: justify;
}

.bloc-paragraphe img {
	width: 100%;
	height: 47%;
}

#gototop {
	position: fixed;
	bottom: 100px;
	right: 0;
	z-index: 998;
	background-color: #FFFFFF;
}

#gototop i {
	font-size: 100px;
	color: black;
}

footer {
	position:sticky;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	background-color: black;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
}

footer a:hover {
	font-size: 28px;
}


/* A propos */
p {
	text-align: justify;
	padding-right: 20px;
}
.Apropos > h1 {
	background-color: #f8c291;
	width: 300px;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-variant: small-caps;
}

.introabout > h2 {
	background-color: #f8c291;
	width: 400px;
	height: 150px;
	padding: 10px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-variant: small-caps;
}

.introabout {
	display: flex;
	flex-direction: row;
}

.introabout .video {
	padding-top: 40px;
	padding-left: 50px;
}

.video {
	text-align: center;
}

.video h2 {
	background-color: #f8c291;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-variant: small-caps;
}

/* page Toulouse */

hr {
	width: 55%;
	height: 3px;
	color: black;
	background-color: black;
}

.Topadresses {
	text-align: center;
}

.Topadresses h2 {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:#f8c291;
}

#Toulouseadresses {
	background-color: black;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 50px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-variant: small-caps;
}

.adressesfood {
	display: flex;
	flex-direction: row;
}

.adressesfood p {
	text-align: justify;
	width: 50%;
	padding-top: 30px;
}

.adressesfood h3 {
	width: 15%;
	background-color: #f8c291;
}

.adressesfood img {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 400px;
	height: 380px;
}

#adressetel {
	text-align: center;
}

/* CONTACT */

#h1contact {
	background-color: #f8c291;
	font-size: 30px;
	text-align: center;}
