body {
	margin: 0;
}
/* Slide bar */
#slideshow {
	position:static;
	width: 100%;
	height: 310px;
	padding: 10px;
	margin: 15px 5px 10px 5px;
}

#slideshow:before,
#slideshow:after {
	position: static;
	bottom:16px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	border-radius: 10%;
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
}
#slideshow:before {
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	transform: rotate(4deg);
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
	position: static;
	width: 1400px;
	height: 610px;
}

/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	background: #999;
}
/*
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; right: 0; top:60px;
	width: 300%;
	height: 310px;
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:1px; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

/* styles de nos légendes */
#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 50%;
	padding: 10px;
	margin: 0;
	text-align:center;
	letter-spacing: 0.1em;
	word-spacing: 0.05em;
	background: #FFFFFF; opacity: 0.75;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

/* fonction d'animation, n'oubliez pas de prefixer ! */
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
 /* fin slide bar*/

#nav {
	position: fixed;
	width: 100%;
	height: 20px;
	padding: 0; margin: 0;
	color: #FFFFFF;
	background-color: #2d3436;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
#nav li {
	display: inline;
	list-style: none; /* nécessaire pour IE7 */
}

#nav a {
	display:inline-block;
	margin: 0 50px;
	color: #FFFFFF;
	text-decoration: none;
}

.container {
	padding: 1px
}

.container-intro {
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

.container-intro > h1 {
	color: #FFFFFF;
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color: #ff5e57;
	padding: 5px 0;
}

.container-intro > p {
	padding: 5px;
	text-align: center;
}

.photos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container-paragraphe {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bloc-paragraphe {
	display: flex;
	flex-direction: column;
	width: 24%;
}

.bloc-paragraphe > h1 {
	color: #FFFFFF;
	background-color: #ff5e57;
	text-align: center;
	font-weight: bold;
}

.bloc-paragraphe > p {
	text-align: justify;
}

.bloc-paragraphe img {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	background-color: black;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: 50px;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
}

footer a:hover {
	font-size: 28px;
}
