nav {
	position: sticky;
	z-index: 999;
	top: 0;
}

#menu {
	width: 100%;
	height: 20px;
	padding: 0; margin: 0;
	color: #FFFFFF;
	background-color: #2d3436;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
}

#menu li {
	display: inline-block;
	list-style: none;
}

#menu a {
	margin: 0 50px;
	color: #FFFFFF;
	text-decoration: none;
}

#menu li a:hover{
	background-color: #FFFFFF;
	color: black;
	padding: 0;
}

/* ss menu */

#menu li ul {
opacity: 0;
margin-left:-20px;
visibility: hidden;
z-index: 5;
background-color: #2d3436;
}

#menu li ul li {
	display: list-item;
	margin: 0;
}

#menu  li:hover ul {
	opacity: 1;
	margin-left: 0;
	visibility: visible;
}

#menu li ul {
 position:absolute;
}
